---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Primer juego" class="bg-custom-blue">
  <div class="flex flex-col items-center justify-center h-screen py-10">
    <img
      src="/family_faud.png"
      alt="Family Faud"
      class="w-3/4 h-full object-cover"
    />
    <a
      href="/firstgame/board"
      class="border-2 border-dashed hover:border-solid border-white rounded-md px-32 py-8 text-white text-4xl tracking-widest"
      >Comenzar</a
    >
  </div>
</Layout>
