<dialog
  id="dialog"
  data-question=""
  class="bg-[#4F6BE1] hidden flex-col justify-center items-center text-white w-[90%] h-[90%] 3xl:h-[50%] text-center rounded-xl p-10 shadow-xl"
>
  <span class="2xl:text-5xl text-4xl transition-all"></span>
</dialog>
